<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="dao" class="com.powernode.spring6.dao.UserDao"></bean>

    <bean id="vipDao" class="com.powernode.spring6.dao.VipDao"></bean>
<!--    <bean id="vipDao2" class="com.powernode.spring6.dao.VipDao"></bean>-->

    <bean id="service" class="com.powernode.spring6.service.CustomerService"  autowire="byType">
<!--        <property name="userDao" ref="userDao"/>-->
<!--        <property name="vipDao" ref="vipDao"/>-->
    </bean>

<!--    <bean id="service" class="com.powernode.spring6.service.CustomerService">-->
<!--        <property name="dao">-->
<!--            <bean class="com.powernode.spring6.dao.UserDao"></bean>-->
<!--        </property>-->
<!--        <property name="vipDao">-->
<!--            <bean class="com.powernode.spring6.dao.VipDao"/>-->
<!--        </property>-->
<!--    </bean>-->

    <bean id="we" class="com.powernode.spring6.service.CustomerService">
<!--        <constructor-arg index="0" ref="dao"/>-->
        <constructor-arg name="userDao" ref="dao"/>
        <constructor-arg index="1" ref="vipDao"/>
    </bean>

    <context:property-placeholder location="jdbc.properties"></context:property-placeholder>





    
</beans>