<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mySQL" class="com.powernode.spring6.dao.impl.UserDaoImplForMySQL"></bean>
    <bean id="oracle" class="com.powernode.spring6.dao.impl.UserDaoImplForOracle"></bean>
    <bean id="impl" class="com.powernode.spring6.service.impl.UserServiceImpl">
        <property name="userDao" ref="oracle"></property>
    </bean>

    <bean id="impl2" class="com.powernode.spring6.service.impl.UserServiceImpl">
        <property name="userDao" ref="mySQL"></property>
    </bean>

</beans>