<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="powerBean" class="com.powernode.spring6.bean.Person">
        <property name="names">
            <list>
                <value>不知到</value>
                <value>真的烦</value>
            </list>
        </property>

        <property name="addrs">
            <set>
                <value>太烦了</value>
                <value>太烦了</value>
                <value>太烦了</value>
            </set>
        </property>

        <property name="phone">
            <map>
                <entry key="1" value="华子"/>
                <entry key="1" value="hua子"/>
                <entry key="2" value="果子"/>
                <entry key="3" value="杂粮"/>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="1号">牛逼</prop>
                <prop key="2号">炸裂牛逼</prop>
                <prop key="3号">无敌炸裂牛逼</prop>
            </props>
        </property>
    </bean>


</beans>