<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="yuQian" class="com.powernode.spring6.bean.QianDaYe">
        <property name="aiHaos" >
            <array>
            <value>抽烟</value>
            <value>喝酒</value>
            <value>打麻将</value>
            </array>
        </property>

        <property name="woman">
            <array>
                <ref bean="w1"></ref>
                <ref bean="w2"></ref>
            </array>
        </property>
    </bean>



    <bean id="w1" class="com.powernode.spring6.bean.Woman">
        <property name="name" value="36D大胸"/>
    </bean>
    <bean id="w2" class="com.powernode.spring6.bean.Woman">
        <property name="name" value="细腰"/>
    </bean>
</beans>